<h1>Body + Universe = Awesome</h1>
<div id="right_button" class="nav_button">previous</div>
<div id="contents">
	<%= form_tag("/stats/create", method: :post) do %>
	  <%= text_field_tag :weight, "140", placeholder: "Weight" %><br>
	  <%= text_field_tag :age, "30", placeholder: "age" %><br>
	  <%= text_field_tag :location, "Eau Claire, WI", placeholder: "Location" %><br>  
	  <%= submit_tag("MAKE ME STARSTUFF!")%><br>
	<% end %>
</div>
<div id="left_button" class="nav_button">next</div>