<h1>Home</h1>

<div id="contents">
	<%= form_tag("/stats/create", method: :post) do %>
	  <%= text_field_tag :weight, nil, placeholder: "Weight in pounds" %><br>
	  <%= text_field_tag :age, nil, placeholder: "Age" %><br>
	  <%= text_field_tag :location, nil, placeholder: "Location" %><br>
	  <%= submit_tag("Tell Me!")%><br>
	<% end %>
</div>