<h1>Home</h1>

<div id="contents">
	<%= form_tag("/stats/create", method: :post) do %>
	  <%= text_field_tag :height, "65", placeholder: "Height" %><br>
	  <%= text_field_tag :weight, "140", placeholder: "Weight" %><br>
	  <%= text_field_tag :age, "30", placeholder: "age" %><br>
	  <%= text_field_tag :location, "Space", placeholder: "Location" %><br>  
	  <%= radio_button_tag :gender, "Male" %>
	  <%= label_tag :gender_male, "Male" %>
	  <%= radio_button_tag :gender, "Female" %>
	  <%= label_tag :gender_female, "Female" %><br>
	  <%= submit_tag("Tell Me!")%><br>
	<% end %>
</div>