<div id="base_results">
	<div>
	  weight: <span id="weight"><%= @stats.weight %></span>
	</div>

	<div>
	  age: <span id="age"><%= @stats.age %></span>
	</div>

	<div>
	  location: <span id="location"><%= @stats.location %></span>
	</div>

</div>

<div id="planetary_age" class="main_div">
	<%= render partial: "planetary_age" %>
</div>

<div id="life_star_range" class="main_div">
	<%= render partial: "stars_in_life_range" %>
</div>

<div id="plantary_weights" class="main_div">
	<%= render partial: "planetary_weights" %>
</div>

<div id="energy_cause_earth_rotates" class="main_div">
	<%= render partial: "energy_cause_earth_rotates" %>
</div>

<div id="energy_cause_earth_orbits" class="main_div">
	<%= render partial: "energy_cause_earth_orbits" %>
</div>

<div id="energy_cause_sun_orbits" class="main_div">
	<%= render partial: "energy_cause_sun_orbits" %>
</div>

<div id="composition_comparisons" class="main div">
	<%= render partial: "composition_comparisons" %>
</div>
