<h1>Your Results</h1>

<div>
  weight: <span id="weight"><%= @stats.weight %></span>
</div>

<div>
  age: <span id="age"><%= @stats.age %></span>
</div>

<div>
  location: <span id="location"><%= @stats.location %></span>
</div>

<div id="earth_rotating">
  <%= render partial: ('energy_cause_earth_rotates') %>
</div>

<div id="earth_orbiting">
  <%= render partial: ('energy_cause_earth_orbits') %>
</div>

<div id="sun_orbiting">
  <%= render partial: ('energy_cause_sun_orbits') %>
</div>

<div id="comparisons">
  <%= render partial: ('composition_comparisons') %>
</div>

<div id="planetary_ages">
  <%= render partial: ('planetary_age') %>
</div>