<h1>Your Results</h1>


<div>
  height: <span id="height"><%= @stats.height %></span>
</div>

<div>
  weight: <span id="weight"><%= @stats.weight %></span>
</div>

<div>
  <%= "gender: Male" if @stats.gender == "0" %>
  <%= "gender: Female" if @stats.gender == "1" %>
</div>

<div>
  age: <span id="age"><%= @stats.age %></span>
</div>

<div>
  location: <span id="age"><%= @stats.location %></span>
</div>

<div id="earthRotating">
  Your Energy Due to Eart Rotating:
  <p></p>
</div>

<div id="earthOrbitingSun">
  Your Energy Due to Eart Orbiting the Sun:
  <p></p>
</div>

<div id="sunOrbitingGalaxy">
  Your Energy Due to Sun 'Orbiting' the Galaxy:
  <p></p>
</div>

<div id="hPercentageMilkyWay">
  Comparison of your Hydrogen Composition to the Milky Way:
  <p></p>
</div>

<div id="hPercentageSolarSystem">
  Comparison of your Hydrogen Composition to the Solar System:
  <p></p>
</div>

<div id="cTimesMilkyWay">
  Comparison of your Carbon Composition to the Milky Way:
  <p></p>
</div>

<div id="cTimesSolarSystem">
  Comparison of your Carbon Composition to the Solar System:
  <p></p>
</div>

<div id="nTimesMilkyWay">
  Comparison of your Nitrogen Composition to the Milky Way:
  <p></p>
</div>

<div id="nTimesSolarSystem">
  Comparison of your Nitrogen Composition to the Solar System:
  <p></p>
</div>

<div id="oTimesMilkyWay">
  Comparison of your Oxygen Composition to the Milky Way:
  <p></p>
</div>

<div id="oTimesSolarSystem">
  Comparison of your Oxygen Composition to the Solar System:
  <p></p>
</div>

<div id="oTimesEarth">
  Comparison of your Oxygen Composition to the Earth:
  <p></p>
</div>

<div id="mgPercentageEarth">
  Comparison of your Magnesium Composition to the Earth:
  <p></p>
</div>

<div id="sPercentageEarth">
  Comparison of your Silcon Composition to the Earth:
  <p></p>
</div>

<div id="caPercentageEarth">
  Comparison of your Calcium Composition to the Milky Way:
  <p></p>
</div>

<div id="fePercentageMilkyWay">
  Comparison of your Calcium Composition to the Milky Way:
  <p></p>
</div>

<div id="fePercentageEarth">
  Comparison of your Calcium Composition to the Milky Way:
  <p></p>
</div>
