<h1>Your Results</h1>


<div>
  height: <span id="height"><%= @stats.height %></span>
</div>

<div>
  weight: <span id="weight"><%= @stats.weight %></span>
</div>

<div>
  <%= "gender: Male" if @stats.gender == "0" %>
  <%= "gender: Female" if @stats.gender == "1" %>
</div>

<div>
  age: <span id="age"><%= @stats.age %></span>
</div>

<div>
  location: <span id="location"><%= @stats.res %></span>
  puts @stats.res
</div>

<div id="earth_rotating">
  <%= render partial: ('energy_cause_earth_rotates') %>
</div>

<div id="earth_orbiting">
  <%= render partial: ('energy_cause_earth_orbits') %>
</div>

<div id="sun_orbiting">
  <%= render partial: ('energy_cause_sun_orbits') %>
</div>

<div id="comparisons">
  <%= render partial: ('composition_comparisons') %>
</div>

<div id="planetary_ages">
  <%= render partial: ('planetary_age') %>
</div>